* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

#contact {
  background-color: #cad3d3;
  width: 100%;
}

.contact {
  /* display: flex; */
  width: 80%;
  /* justify-content: space-between; */
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}

.contact-item {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  padding: 20px 20px 50px;
  width: auto;
}

.item {
  text-align: center;
  background-color: white;
}
.img {
  position: relative;
}

.item .img .img-txt {
  color: white;
  position: absolute;
  /* color: rgb(7, 216, 216); */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 27px;
}

.item .img .img-txt span {
  font-size: 12px;
  opacity: 0.6;
}

.item .money {
  position: absolute;
  top: -21px;
  right: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-color: white;
  width: 80px;
  height: 80px;
  z-index: 9;
}

.item .money p {
  padding-top: 17px;
  margin: 0;
  font-size: 22px;
}

.item .money span {
  font-size: 12px;
  opacity: 0.8;
  color: gray;
}

.item-ocean p {
  color: rgb(7, 216, 216);
}

/* mount  */
.item-mount .money {
  background-color: #2c2e3d;
}

.item-mount .money p {
  color: rgba(255, 0, 157, 0.678);
}

.item-mount .item-logo img {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -7px;
  left: -7px;
  z-index: 99;
}

.item-logo {
  position: relative;
}
.item-logo span {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  color: white;
  padding-top: 3px;
}

.item-forest p {
  color: green;
}

.item img {
  width: 300px;
  height: 100%;
}

.title-txt {
  margin: 0;
  padding: 20px 0;
  opacity: 0.6;
}

.title-txt h3 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  letter-spacing: 1px;
}

.item-txt p {
  color: black;
  padding: 10px 0;
  opacity: 0.8;
  font-size: 14px;
}

.title-txt ~ p {
  background-color: #f4f6f7;
}

.title-txt span {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

/* Button  */

button {
  padding: 10px 20px;
  margin-top: 15px;
  margin-bottom: 30px;
  background-color: white;
  cursor: pointer;
}

.item-ocean button {
  border: 1px solid rgb(0, 195, 255);
  color: rgb(0, 195, 255);
  transition: 0.3s;
}
.item-ocean button:hover {
  background-color: rgb(0, 195, 255);
  color: white;
}

.item-mount button {
  border: 1px solid purple;
  color: purple;
  transition: 0.3s;
}
.item-mount button:hover {
  background-color: purple;
  color: white;
}

.item-forest button {
  color: green;
  border: 1px solid green;
  transition: 0.3s;
}
.item-forest button:hover {
  color: white;
  background-color: green;
}
